.team-wrap {
  background-color: $ALABASTER;
}

.team {
  max-width: 785px;
  margin: 0 auto;

  &__title {
    text-align: center;
    text-transform: $textTransform;
    font: $heading2Size $headline1Font;
    color: $MINE_SHAFT;
    padding-top: 100px;
    margin-bottom: 30px;
  }
}

.teams {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 70px;
  padding: 0 10px;

  &__item {
    width: 220px;
  }

  &__text {
    text-align: center;
    max-width: 590px;
    font: $paragraph1Size $mainFont;
    color: $BOULDER;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  &__item-img {
    width: 220px;
    height: 220px;
    background-color: $COD_GRAY;
    border-radius: 50%;
    margin-bottom: 25px;
  }

  &__item-title, &__item-text {
    text-align: center;
  }

  &__item-title {
    text-transform: capitalize;
    font: $heading3Size $headline1Font;
    margin-bottom: 10px;
  }

  &__item-text {
    display: block;
    font: $heading4Size $mainFont;
    color: $BOULDER;
    margin-bottom: 15px;
  }
}

.icons {
  width: 140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  &_width {
    width: 90px;
  }

  &__link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $COD_GRAY;
    text-align: center;
    line-height: 47px;
    transition: background-color 0.2s;

    &:hover {
      background-color: $PICTON_BLUE;
    }
  }
}

.fa-twitter, .fa-facebook, .fa-pinterest-p, .fa-google-plus {
  font-size: 20px;
  color: $WHITE;
}

@media (max-width: 1023px) {
  .team__title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .teams {
    flex-direction: column;
    align-items: center;

    &__item {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__text {
      padding: 0 10px 60px;
    }
  }
}