.header {
  height: 645px;
  background-image: url("../../../img/header-background.jpg");
  background-size: cover;

  &__nav {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;

    &-logo {
      text-decoration: none;
      font: 36px $logoFont;
      text-transform: capitalize;
      color: $WHITE;
      flex-grow: 2;
    }
  }

  &__info {
    width: 565px;
    margin: 170px auto 0;

    &-title {
      text-transform: $textTransform;
      text-align: center;
      font: $heading1Size $headline1Font;
      color: $WHITE;
      padding-bottom: 50px;
    }

    &-text {
      width: 448px;
      text-align: center;
      font: 20px $mainFont;
      color: $SILVER;
      margin: 50px auto 0;
    }
  }
}

.line {
  display: block;
  width: 110px;
  height: 1px;
  background-color: $PICTON_BLUE;
  margin: auto;
}

.navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  &__item {
    text-decoration: none;
    text-transform: $textTransform;
    font: $paragraph1Size $headline2Font;
    color: $WHITE;
    transition: color 0.2s;
    flex-grow: 1;

    &:last-child {
      flex-grow: 0;
    }

    &:hover {
      color: $PICTON_BLUE;
    }
  }
}
