.header {
  height: 645px;
  background-image: url("../../../img/header-background.jpg");
  background-size: cover;

  &__nav {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 20px 0;

    &-logo {
      text-decoration: none;
      font: 36px $logoFont;
      text-transform: capitalize;
      color: $WHITE;
      flex-grow: 2;
    }
  }

  &__info {
    max-width: 565px;
    margin: 170px auto 0;
    padding: 0 20px;

    &-title {
      text-transform: $textTransform;
      text-align: center;
      font: $heading1Size $headline1Font;
      color: $WHITE;
      padding-bottom: 50px;
    }

    &-text {
      max-width: 448px;
      text-align: center;
      font: 20px $mainFont;
      color: $SILVER;
      margin: 50px auto 0;
    }
  }
}

.line {
  display: block;
  width: 110px;
  height: 1px;
  background-color: $PICTON_BLUE;
  margin: auto;
}

.navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  &__item {
    text-decoration: none;
    text-transform: $textTransform;
    font: $paragraph1Size $headline2Font;
    color: $WHITE;
    transition: color 0.2s;
    flex-grow: 1;

    &:last-child {
      flex-grow: 0;
    }

    &:hover {
      color: $PICTON_BLUE;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__nav {
      flex-direction: column;
      align-items: center;
    }

    &__info {
      margin-top: 110px;
    }
  }

  .navigation {
    text-align: center;

    &__item {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

}

@media (max-width: 544px) {
  .navigation {
    display: block;

    &__item {
      display: block;
      margin-bottom: 20px;
    }
  }

  .header {
    &__info {
      margin-top: 30px;
    }
  }

  .header__info-title {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .header__info-text {
    margin-top: 30px;
  }

}