.footer-wrap {
  background-color: $COD_GRAY;
}

.footer {
  max-width: 945px;
  margin: 0 auto;
  padding-top: 100px;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__line {
    display: block;
    height: 1px;
    width: 100%;
    margin: auto;
    background-color: $WHITE;
  }

  &__text {
    text-align: center;
    font: $paragraph2Size $mainFont;
    color: $WHITE;
    padding-top: 30px;
    padding-bottom: 35px;
  }
}

.contact, .inputs {
  width: 49%;
}

.contact {
  &__title {
    text-transform: $textTransform;
    font: $heading2Size $headline1Font;
    color: $WHITE;
    margin-bottom: 35px;
  }

  &__text {
    font: $paragraph2Size $mainFont;
    color: $WHITE;
    margin-bottom: 50px;
  }
}

.our-contacts {
  &__item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__item-text {
    font: $paragraph1Size $mainFont;
    color: $WHITE;
    flex-grow: 1;
    margin-left: 25px;
    text-decoration: none;
  }

  &__item-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__item-icon {
    width: 25px;
    font-size: 30px;
    color: $WHITE;
    flex-grow: 0;
  }

  &__item .fa-mobile {
    font-size: 40px;
  }
}

.inputs {
  &__item {
    width: 440px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;

    &_height {
      padding-top: 20px;
      height: 165px;
    }
  }

  &__button {
    width: 190px;
    height: 60px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: $textTransform;
    font: $paragraph1Size $headline2Font;
    color: $WHITE;
    background-color: $PICTON_BLUE_LIGHT;
    border-radius: 50px;
    border: none;
    line-height: 60px;
    margin-bottom: 60px;

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 1023px) {
  .footer {
    padding-top: 60px;

    &__flex {
      display: block;
    }

    &__line {
      width: 95%;
    }
  }

  .contact {
    width: 95%;
    margin: 0 auto 60px;

    &__title {
      text-align: center;
      font-size: 30px;
    }

    &__text {
      text-align: center;
    }
  }

  .our-contacts {
    padding: 0 10px;

    &__item {
      width: 236px;
    }
  }

  .inputs {
    width: 450px;
    margin: 0 auto;

    &__item {
      width: 430px;
    }
  }

  .inputs-button__wrap {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .our-contacts {
    &__item-wrap {
      display: block;
    }

    &__item {
      width: 225px;
      margin: 0 auto 30px;
    }
  }

  .inputs {
    width: 280px;

    &__item {
      width: 260px;
    }
  }
}
