@font-face {
  font-family: 'Bello-Script';
  src: url('/fonts/belloScript/Bello Script.eot');
  src: url('/fonts/belloScript/Bello Script.eot?iefix') format('eot'),
  url('/fonts/belloScript/Bello-Script.woff') format('woff'),
  url('/fonts/belloScript/Bello-Script.ttf') format('truetype'),
  url('/fonts/belloScript/Bello-Script.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/montserratBold/Montserrat-Bold.eot');
  src: url('/fonts/montserratBold/Montserrat-Bold.eot?iefix') format('eot'),
  url('/fonts/montserratBold/Montserrat-Bold.woff') format('woff'),
  url('/fonts/montserratBold/Montserrat-Bold.ttf') format('truetype'),
  url('/fonts/montserratBold/Montserrat-Bold.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('/fonts/notoSans/NotoSans-Regular.eot');
  src: url('/fonts/notoSans/NotoSans-Regular.eot?iefix') format('eot'),
  url('/fonts/notoSans/NotoSans.woff') format('woff'),
  url('/fonts/notoSans/NotoSans.ttf') format('truetype'),
  url('/fonts/notoSans/NotoSans.svg#webfont') format('svg');
}