$WHITE: #fff;
$SILVER: #ccc;
$BLACK: #000;
$PICTON_BLUE: #35b9eb;
$MINE_SHAFT: #222;
$MALIBU : #78d6fa;
$GRAY: #888;
$ALABASTER: #f7f7f7;
$BOULDER: #777;
$SEASHELL: #f1f1f1;
$PICTON_BLUE_LIGHT: #35c2f8;
$COD_GRAY: #111;
$SILVER_DARK: #bbb;
$ALTO: #ddd;

$logoFont: 'Bello-Script';
$headline1Font: 'Montserrat-Bold';
$headline2Font: 'Montserrat-Regular';
$mainFont: 'Noto-Sans';
$textTransform: uppercase;

$heading1Size: 50px;
$heading2Size: 40px;
$heading3Size: 16px;
$heading4Size: 14px;
$paragraph1Size: 16px;
$paragraph2Size: 14px;

