.pictures-wrap {
  background-color: $MINE_SHAFT;
}

.pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;

  &__img {
    width: 33.33%;
  }
}