.core-services {
  background-color: $WHITE;

  &__title {
    text-align: center;
    text-transform: $textTransform;
    font: $heading2Size $headline1Font;
    color: $MINE_SHAFT;
    margin-top: 100px;
    margin-bottom: 40px;
  }
}

.line_color {
  background-color: $MALIBU;
}

.services {
  display: flex;
  justify-content: space-between;
  width: 1070px;
  margin: 80px auto 100px;

  &__item {
    width: 283px;

    &:last-child {
      margin-right: 0;
    }

    &-title, &-text {
      text-align: center;
    }

    &-title {
      text-transform: $textTransform;
      font: $heading3Size $headline2Font;
      color: $MINE_SHAFT;
      margin-bottom: 20px;
    }

    &-text {
      font: $paragraph2Size $mainFont;
      color: $GRAY;
    }
  }
}

.fa {
  &-wrench, &-sitemap, &-life-ring {
    display: block;
    text-align: center;
    font-size: 55px;
    color: $ALTO;
    margin-bottom: 40px;
  }
}