.portfolio-wrap {
  background-color: $WHITE;
}

.portfolio {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;

  &__info, &__img {
    padding-top: 50px;
  }

  &__img {
    width: 49%;
  }

  &__img-ipad {
    width: 100%;
    height: 100%;
  }

  &__info {
    width: 49%;
    padding-left: 25px;

    &_background {
      background: url("../../../img/background-users-icon.jpg") bottom center no-repeat;
      background-size: contain;
    }
  }

  &__info-title {
    text-transform: $textTransform;
    font: $heading2Size $headline1Font;
    color: $MINE_SHAFT;
    margin-bottom: 50px;
  }

  &__info-text {
    font: $paragraph2Size $mainFont;
    color: $BOULDER;
    margin-bottom: 40px;
  }
}

.list {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    margin-bottom: 30px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__info-title {
    text-transform: $textTransform;
    font: bold $heading3Size $headline2Font;
    color: $MINE_SHAFT;
    margin-bottom: 15px;
  }

  &__info-text {
    font: $paragraph2Size $mainFont;
    color: $BOULDER;
  }
}

.fa-pie-chart {
  color: $BOULDER;
  font-size: 28px;
  margin-right: 15px;
}

@media (max-width: 1023px) {
  .portfolio__info-title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .portfolio {
    flex-direction: column;
    align-items: center;

    &__info_background {
      width: 92%;
    }

    &__img {
      width: 100%;
    }
  }
}


